DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
POSTGRES_PASSWORD=<database-password>
POSTGRES_USER=<database-user>
POSTGRES_NAME=<database-name>
POSTGRES_PORT=<port>